html {
    overflow-x: hidden;
}

body {
    padding: 7px;
    background-color: #ded6bd;
    font-family: Roboto, serif;
    font-weight: lighter;
    margin: 0;
    scroll-behavior: smooth;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

hr {
    background-color: #eeddbc;
    width: 100%;
    height: 1%;
}


h2, h1 {
    text-align: center;
    text-shadow: 1px 1px grey;
}

nav {
    overflow: auto;
    padding: 4px;
}

nav .buttons {
    float: right;
}

nav a {
    cursor: default;
}

.adaLogo {
    float: left;
    height: 40px;
}

.logo {
    float: center;
    height: 70px;
}


.button {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    border: 1px solid black;
    background-color: #c5cc85;
    color: white;
    box-shadow: 3px 3px #527db6;
    transition: all 0.2s;
    text-decoration: none;
}

.button:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px black;
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 black;
}

.img {
    overflow: auto;
    display: flex;
    justify-content: center;
}

.img img {
    pointer-events:visible !important;
    width: 15%;
    height: fit-content;
    margin: auto auto;
}

.img img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#progress div {
    flex-basis: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#progress a {
    position: absolute;
    background-color: #ded6bd;
    color: #000000;
    padding: 5px 10px;
}

